* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 25rem 25rem 25rem;
  grid-gap: 50px;
}

.box {
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(95, 90, 90, 0.9);
  background-color: #fff;
}

.widthX {
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(95, 90, 90, 0.9);
  background-color: #fff;
  grid-column: 1 / 4;
}
.twiceBox {
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(95, 90, 90, 0.9);
  background-color: #fff;
  grid-column: 1 / 1.5;
}

.details-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.notFound {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(136, 9, 136);
}
.notFound-img {
  height: 150px;
  width: 150px;
  background: url("./assets/wifi.png") no-repeat center/contain;
  margin-bottom: 30px;
}

.widthX-items {
  margin: 16px;
  display: flex;
  justify-content: space-evenly;
}
